* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#chat-container {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    box-shadow: none;
}

#header {
    background: #3c8dbc;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

#status {
    font-size: 14px;
    font-weight: normal;
}

.online {
    color: lightgreen;
}

.offline {
    color: red;
}

#messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}

.message {
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 15px;
    margin: 5px 0;
    word-wrap: break-word;
    position: relative;
    max-width: 80%;
}

.message.user {
    background-color: #3c8dbc;
    color: white;
    align-self: flex-end;
}

.timestamp {
    font-size: 10px;
    color: gray;
    display: block;
    margin-top: 5px;
}

.double-tick {
    font-size: 12px;
    float: right;
}

.seen {
    color: blue;
}

#input-container {
    display: flex;
    padding: 10px;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
}

#messageInput {
    flex-grow: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 14px;
}

#sendBtn {
    padding: 10px;
    background-color: #3c8dbc;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

#sendBtn:hover {
    background-color: #2b6f96;
}
